:root{
--paragraph-background-color: #396E94  ;
--nav-link-color: #396E94;
--nav-background-color: #D4AC0D;
--nav-hover-link-color: white;
--nav-hover-background-color: #396E94;
}
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

/* Header Styling */
header {
  background-color: var(--nav-background-color);
  color: var(--headline-color-on-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_link img {
  max-width: 160px; /* Adjust the size of the logo */
  height: auto;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  border-radius: 20px;
  background-color: var(--nav-hover-background-color);
}


/* Main Content Styling */
#worldschool, #background {
  background-color: var(--accent1-color);
}

.home-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

section {
  flex: 1;
  margin: 1em;
  text-align: center;
}

.card-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5em; /* Adjust the size of the text under the pictures */
  margin-top: 1em;
}

/* Footer Styling */
footer {
  background-color: var(--secondary-color);
  color: var(--headline-color-on-color);
  padding: 1em;
  text-align: center;
}

.social img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .home-grid {
    flex-direction: column;
  }
}
