.container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns, image on the left and gray area on the right */
    grid-gap: 20px; /* Adjust the gap between columns */
    height: 100vh; /* Make sure the container takes up the full viewport height */
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
   
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1; /* Set a higher z-index to bring the image to the front */
}

.right {
    background-color: #B9B8B9; /* Gray background color for the right side */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.top-textl {
    /* CSS for the top text "Tart & Sweet" */
    white-space: nowrap;
    position: relative;
    z-index: 4;
    text-align: center;
    padding-right: 160%;
    padding-bottom: 35%;
    font-size: 150px;
    font-weight: bold; /* Make the text bold */
    color: #000000; /* Change text color to a darker gray */
}

.bottom-text {
    text-align: center;
    font-size: 100px;
    color: #9C0E11; /* Red text color for "Cherries" */
}
.top-textr {
    /* CSS for the top text "Tart & Sweet" */
    padding-top: 20%;
    font-size: 150px;
    font-weight: bold; /* Make the text bold */
    color: #000000; /* Change text color to a darker gray */
}

.bottom-text {
    /* CSS for the bottom text "Cherries" */
    
    font-style: times; /* Make the text italic */
    padding-bottom: 15%;
}
